@font-face {
  font-family: "Monotype Baskerville";
  font-weight: 400;
  font-style: normal;
  src: url("font/avenirnext_n4.7fd0287595be20cd5a683102bf49d073b6abf144.woff2") format("woff2");
}

@font-face {
  font-family: "Avenir Next";
  font-weight: 400;
  font-style: normal;
  src: url("font/monotypebaskerville_n4.a442627eb38ee82c41c209031edd51460817f34f.woff2") format("woff2");
}

/* ----------------------------- Global Styles ------------------------------ */
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  background-color: #faf9f6;
  overflow: hidden;
}

body {
  margin: 0;
  font-size: 1.6rem;
  font-family: "Avenir Next", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #4a4a4a;
  line-height: 1.625;
}

.slider .slideshow {
  height: calc(100vh - 35px);
}

.slideshow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  position: relative;
  overflow: hidden;
  min-height: 300px;
  max-height: calc(100vh - 35px);
  background-color: #dfd8c5;
  /* ul element */
  margin: 0;
  padding: 0;
  list-style: none;
  /* li element */
  /* Active Slide */
}

.slideshow li {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  z-index: 0;
  -webkit-transition: all 0.5s cubic-bezier(0, 0, 0, 1);
  transition: all 0.5s cubic-bezier(0, 0, 0, 1);
}

.slideshow .active {
  -webkit-transition: all 0.5s cubic-bezier(0, 0, 0, 1);
  transition: all 0.5s cubic-bezier(0, 0, 0, 1);
  opacity: 1;
  z-index: 2;
}

.slideshow li::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3;
}

.placeholder-background {
  background-color: #faf9f6;
  opacity: 0.3;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

body {
  overflow: hidden;
}

.hide {
  border: 2px solid black;
  display: none;
}

.slide {
  z-index: 5;
  display: inline-block;
  -webkit-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
}

.slide:hover, .slide-active {
  border-bottom: 2px solid white;
  padding-bottom: 3px;
  -webkit-transform: translate3d(0px, -15px, 0px);
          transform: translate3d(0px, -15px, 0px);
}

.slide:hover {
  opacity: 0.6;
}

.tree {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 10;
}

.svg {
  height: 100vh;
  /* width: 50vw; */
}

.page-width {
  width: 100%;
  /* padding: 4em; */
  z-index: 10;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

h2 {
  /* border: 2px solid white; */
  font-family: "Monotype Baskerville",serif;
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  letter-spacing: normal;
  line-height: 72px;
  color: white;
  margin: 0 auto;
}

.indicators {
  z-index: 4;
  position: absolute;
  bottom: 80px;
  list-style: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.5em;
  padding-top: 20px;
  padding-bottom: 0;
  width: 110vw;
  margin-left: -5vw;
}

.indicators a {
  color: white;
  font-family: "Avenir Next",sans-serif;
  padding: 0.2em 1em;
  text-transform: uppercase;
  font-stretch: 100%;
  font-weight: 700;
  text-decoration: none;
}

body {
  border: 3px solid black;
}

@media only screen and (max-width: 749px) {
  body {
    border: 2px dashed black;
  }
  h2 {
    font-size: 32px;
  }
}
/*# sourceMappingURL=main.css.map */